body { background: black; font-family: sans-serif; color: white; }
a { color: #f7b731; font-weight: bold; }
h2 { border-top: 3px dotted white;}
img.logo { max-width: 90%; width: 500px; margin-left: auto; margin-right: auto; display: block; }
div.contact { margin-top: 1em; text-align: center; }
div.content_block { width: 75%; min-width: 320px; border-style: dotted; border-width: 3px; background-color: block; margin-left: auto; margin-right: auto; margin-top: 1em; padding: .25em;}
div#mc_embed_signup { clear:left; }
div#mc_embed_signup .button { background-color: #f7b731; color: black; font-weight: bold; }